- content_for :head do
  = rss_head_link
  = stylesheet_link_tag 'blog/blog/blog'
  = render 'blog/posts/shareholic'

%article
  = image_tag @post.image_url(:full_size) if @post.image?
  = render partial: 'blog/posts/post_header', locals: {post: @post }
  .content{"data-blog" => "content"}
    = raw @post.content
  .tags{"data-blog" => "tags"}
    = render @post.tags
  .shareaholic-canvas{"data-app" => "share_buttons", "data-app-id" => "6430854"}
  .comments
    = render 'blog/posts/disqus_thread'
